@{
    ViewBag.Title = "Home Page";
}

<div class="btn-info jumbotron">
    <h1 class="text-center">BIEVENIDO</h1>
    <p class="btn-primary text-center"> Bienvenido a mi programa, en el menu de arriba tienes la opcion de logearte </p>
   
</div>

