
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="btn-info jumbotron">
    <h1 class="btn-info text-center">BIEVENIDO</h1>
    <p class="btn-primary text-center"> Bienvenido a mi programa, arriba esta el menu </p>

</div>
