
@{
    ViewBag.Title = "FiltroEmpleado";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


<h2 class="text-center btn-warning">Filtrar por ID de empleado</h2>
<form action="/Reportes/FiltroEmpleadoResultado" method="post">
    <input type="text" name="id" placeholder="Ingrese el id del empleado" class="form-control" />
    <input type="submit" value="Buscar" class="btn btn-success" />
</form>
